

body{
    text-align: center;
}

h1{
    background-color: yellow;
    text-align: center;
    padding: 2rem;
    margin: 0%;
    font-size: 7vh;
}


.container{
    max-width: 600px;
    margin: auto;
}

textarea{
    padding: 1rem;
    display: block;
    width: 80%;
    height: 10vh;
    margin: 1rem;
}
#output{
    padding: 1rem;
    width: 80%;
    height: 10vh;
    margin: 1rem;
    border:1px solid black;

}